<h2><%= link_to "商品一覧", admin_items_path %></h2>
<h1>商品詳細</h1>
    <% if @item.image.attached? %>
      <%= image_tag @item.image, size: "150x150" %>
    <% else %>
      <%= image_tag 'no_image', size: "150x150" %>
    <% end %>
<tr>
  <td>
    <label>商品名</label>
    <%= @item.name %>
  </td></br>
  <td>
    <label>商品説明</label>
    <%= @item.introduction %>
  </td></br>
  <td>
    <label>ジャンル</label>
    <%= @item.genre_id %>
  </td></br>
  <td>
    <label>税込価格</br>(税抜価格)</label>
    <%= @item.price %>
  </td></br>
  <td>
    <label>販売ステータス</label>
    <%= @item.is_active %>
  </td>
</tr></br>
<%= link_to "編集する", item_edit_path %>