<h2>　さんの会員情報編集</h2>
<%= form_with model: @customer, url: ad_customer_update_path(@customer.id), method: :patch do |f| %>
  <tr>
    <td>
      <label>会員</label>
      <%= @customer.id %>
    </td>
  </tr>

  <div class="field">
    <%= f.label :氏名 %>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :フリガナ %>
    <%= f.text_field :first_name_kana %>
    <%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :郵便番号 %>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %>
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :退会ステータス %>
    <%= f.radio_button :is_active, :true %>
    <%= f.label :有効 %>
    <%= f.radio_button :is_active, :false %>
    <%= f.label :退会 %>
  </div>

　<div class="actions">
    <%= f.submit "変更を保存" %>
  </div>
<% end %>