<div class="container">
  <div class="mt-4">
  <div class="row text-center">
    <div class="col-5">
      <h4 class="bg-light">注文情報入力</h4>
    </div>
  </div>
  </div>
<div class="mt-2">
<%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
    <div div class="row">
      <strong><%= f.label :支払方法 %></strong>
    </div>
    <div class="row">
      <div class="col">
      <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: "checked" %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %></br>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
      </div>
    </div>

    <div class="row">
      <strong><%= f.label :お届け先 %></strong>
    </div>
    <div class="row">
      <div class="col">
        <%= f.radio_button :select_address,0, checked: "checked" %>
        <%= f.label :ご自身の住所 %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        〒<%= current_customer.postal_code %>　<%= current_customer.address %>　<%= current_customer.first_name %><%= current_customer.last_name %></br>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.radio_button :select_address,1 %>
        <%= f.label :登録済住所から選択 %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.radio_button :select_address,2 %>
        <%= f.label :新しいお届け先 %></br>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.label :郵便番号（ハイフンなし） %>
      </div>
      <div class="col-5">
        <%= f.text_field :postal_code %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.label :住所 %>
      </div>
      <div class="col-5">
        <%= f.text_field :address %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.label :宛名 %>
      </div>
      <div class="col-5">
        <%= f.text_field :name %>
      </div>
    </div>
<%= f.hidden_field :shipping_cost, :value => 800 %>
    <div class="row justify-content-center">
       <div class="actions">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
       </div>
    </div>
<% end %>
</div>
</div>