<div class="container">
  <div class="row">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "200x150" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x150" %>
      <% end %>

    <div class="col-4">
      <h5><strong><%= @item.name %></strong></h5>
      <%= @item.introduction %></br>
      <label>¥</label><%= @item.with_tax_price %>（税込）

      <%= form_with model: @cart_item, url: cart_items_path do |f| %>
      <%= f.hidden_field :item_id , :value => @item.id %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <%= f.select :amount, *[1..10] %>
      <%= f.submit "カートに入れる" %>
      <% end %>
    </div>
  </div>
</div>
